{% extends 'flatpages/default.html' %}
{% load custom_filter %}

{% block title %}
Новости!
{% endblock title %}


{% block content %}
    <h1>Новости!</h1>
    <hr>
    {% if post_list %}
    <div class="container d-flex flex-column">
        <p>Всего: {{ post_list|length }}</p>
        {% for post in post_list %}
        <div class="col-12">
            <h3> {{ post.title }} </h3>
            <p><b>{{ post.date_created|date:'d.m.Y' }}</b></p>
            <p>{{ post.text|truncatewords:20 }}</p>

            <p><a href="{% url 'detail' post.id %}" class="text-success">Подробнее</a></p>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
 {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           <a href="?page=1" class="text-success"> Первая </a>
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="text-success"> Последняя </a>
       {% endif %}
   {% endif %}
{% endblock content %}